In [9]:
print("Hello"[1]) #e
print("Hello"[-1]) #o

e
o

In [10]:
print("123"+"456") #123456

123456

In [11]:
#Integer
int1 =123
print(int1+456) #579
print(123_456_789) #123456789

579
123456789

In [12]:
#Boolean 
True
False

False

In [16]:
num_char = len(input("Enter Your Name"))
type(num_char)
print(num_char)
#len(num_char)  Since the len function only works with String Function, this will throw an error
num_char2 =str(num_char) #Converting from INT to STR

9

1

In [23]:
#Rounding
value = 1126.6666
print(round(value,-1)) #1130
value = 1123.6666
print(round(value,-1)) #1120
value = 1123.6666
print(round(value,3)) #1123.667

1130.0
1120.0
1123.667

In [25]:
mystring = "abcdefghi"
print(mystring)

abcdefghi

In [27]:
mystring[3:6]
reverse = mystring[::-1]
print(reverse)  # Reverse a String

ihgfedcba

In [29]:
letter = 'z'
letter * 100 # Multipying a String

'zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz'

In [34]:
x = letter.upper()
x

'Z'

In [35]:
s = "This is a string"
s.split()

['This', 'is', 'a', 'string']

In [41]:
Name = "Micheal Scott"
Movie = "Midnight"
Position = "Manager"
Rating = 12.897

#### Float formatting follows `"result: {value:{width}.{precision}}"`

In [47]:
print(f"The Name is {Name} and the Position is {Position} and his rating is {Rating:1.2f}.")

The Name is Micheal Scott and the Position is Manager and his rating is 12.90.